@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Poppins:ital,wght@1,200&display=swap');

body {
    font-family: 'Kanit', sans-serif;
    background-color: skyblue;
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo { 
    color: slateblue;
    font-size:  40px;
    font-family: 'Poppins', sans-serif;
}

.subtitulo {
    color: orangered;
    font-size:  30px;
}

.tarjetas, tarjetas-ataques {
    display: flex;
    gap: 10px;
}

.tarjeta-de-pokemon {
    width: 180px;
    height: 100px;
    background-color: aqua;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.tarjeta-de-pokemon img {
    width: 60px;
}

#boton-mascota {
    width: 180px;
    height: 50px;
    border-radius: 20px;
    background: orangered;
    border: 2px solid white;
    color: black;
    font-family: 'Kanit', sans-serif;
    margin-top: 40px;
}

input {
    display: none; 
}

input:checked + label {
    background-color: red;
}

#seleccionar-ataque {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boton-de-ataque {
    background-color: orange;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border-color: transparent;
    width: 80px;
    color: white;
    font-family: 'Kanit', sans-serif; 
}

#mensajes {
    width: 280px;
    background: slateblue;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#boton-reiniciar {
    border: black;
    color: black;
    font-family: 'Kanit', sans-serif;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    background-color: seagreen;
}

.ataques-hechos {
    display: grid;
    grid-template-columns: 100px 100px;
    color: blue;
}

#vidas-jugador, #vidas-enemigo {
    font-size: 32px;
    margin-bottom: 0;
}

.ataques-hechos-jugador, .ataques-hechos-enemigo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ver-mapa {
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#mapa {
    border: 2px solid white;

}
@media (max-width: 360px) {
    .tarjetas, .tarjetas-ataques {
        flex-direction: column;
    }
}